.cell {
    display: block;
    justify-content: center;
    align-items: center;
}

.cell section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid #f66c5d;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    z-index: 1;
    background: white;
    align-self: flex-start;
}

.imagen-principal img {
    width: 80%;
    margin-top: -20%;
    border-radius: 25px;
    border: 4px solid #3987f7;
    opacity: 0.4;
}

@keyframes desbanecer {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .cell {
        display: flex;
        animation-duration: 2s;
        animation-name: desbanecer;
    }
    .cell section {
        display: flex;
        border: 4px solid #f66c5d;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        z-index: 1;
        background: white;
    }
    .imagen-principal img {
        position: relative;
        width: 500px;
        height: 500px;
        border-radius: 10%;
        object-fit: cover;
    }
}

@media screen and (min-width: 992px) {
    .cell {
        animation-duration: 2s;
        animation-name: slidein;
    }
}