@media screen and (max-width: 992px) {
    .opciones:hover {
        background-color: #648;
    }
    .social img {
        width: 10%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 992px) {
    .opciones:after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        transition: width .3s;
    }
    .opciones:hover::after {
        background-color: #fff;
        width: 100%;
    }
    .social {
        width: 20%;
        display: flex;
    }
}