a {
    text-decoration: none;
    color: #f56b5d;
}

a:hover {
    text-decoration: none;
    color: #f56b5d;
}

.navbar-collapse {
    flex-grow: unset;
}

@media screen and (max-width: 992px) {
    .opciones:hover {
        background-color: #648;
    }
    .social img {
        width: 10%;
        margin-top: 5%;
    }
    .navbar-toggler {
        background-color: #f56b5d;
    }
}

@media screen and (min-width: 992px) {
    .opciones:after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        transition: width .3s;
    }
    .opciones:hover::after {
        background-color: #f56b5d;
        width: 100%;
    }
    .social {
        width: 20%;
        display: flex;
    }
}