.tarifa-card {
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    border: 4px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarifa-card h3 {
    font-size: 25px;
}

.tarifa-card.card-animation:hover {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 992px) {
    .tarifa-card {
        margin-bottom: 100px;
    }
}